*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: hsl(346deg 17% 70%);
}
#part1{
    height: 100%;
    width: 26%;
}

#part2{
    height: 100%;
    width: 67%;
    background-image: url('https://images.unsplash.com/photo-1517805686688-47dd930554b2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bW9kZWwlMjBpbWFnZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    background-position: center;

}
#overlay{
    height: 100%;
    width: 100%;
    background-color: hsla(344, 18%, 63%, 0.595);

}
#part3{
    height: 100%;
    width: 7%;
}
#text-div{
    /* height: 300px; */
    position: absolute;
    width: 400px;
    /* background-color: red; */
    left: 7%;
    top: 40%;
    transform: translate(0 ,-50%);
}
#text-div h1{
    font-size: 95px;
    line-height: 78px ;
    letter-spacing: 8px;
    font-family: gilroy;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
#small-img-div{
     height: 400px;
     width: 300px;
     background-image: url('https://images.unsplash.com/photo-1512084747998-038941f49b84?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fG1vZGVsJTIwaW1hZ2VzfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60');
     position: absolute; 
     background-size: cover;
     background-position: center;
     top: 50%;
     right: 5%;
     transform: translate(0, -50%);

}
#over-lay-in{
    height: 100%;
    width: 100%;
    background-color: hsla(344, 18%, 63%, 0.415);

}
#vertical-text{
    position: absolute;
    right:-65%;
    transform: rotate(90deg);
    transform-origin:0% 0%;
    top:-6%;
    /* width: 100%; */
    /* background-color: red; */
}

#vertical-text h1{
    font-size: 70px;
    font-weight: 900;
    color: transparent;
    font-family: monument;
    letter-spacing: 15px;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

#nav{
    position: absolute;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 8%;
    top: 5%;
}
#nav img{
    height: 50px;
}
#nav h5{
    font-size: 1.5rem;
    color: #fff;
}